<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.typicalfoobar.lightswitch"
        version="1.0.0">
    
    <name>Light Switch Service Plugin</name>
    
    <engines>
        <engine name="cordova" version=">=3.4.0" />
    </engines>
    
    <js-module src="www/js/LightSwitchServicePlugin.js" name="LightSwitchServicePlugin">
        <clobbers target="window.LightSwitchServicePlugin" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LightSwitchServicePlugin">
                <param name="android-package" value="com.typicalfoobar.lightswitch.LightSwitchServicePlugin" />
            </feature>
        </config-file>
        
        <source-file src="src/android/LightSwitchServicePlugin.java" target-dir="src/com/typicalfoobar/lightswitch" />
        <source-file src="src/android/LightSwitchService.java" target-dir="src/com/typicalfoobar/lightswitch" />
        <source-file src="src/android/WifiChangedBroadcastReceiver.java" target-dir="src/com/typicalfoobar/lightswitch" />
    </platform>
</plugin>