<ion-view view-title="Edit">
	<ion-content>
        <h2>Light Switch Names</h2>
        <div class="list">
            <label class="item item-input item-stacked-label" ng-repeat="lightSwitch in lightSwitchList">
                <span class="input-label">Outlet {{$index + 1}}</span>
                <input class="edit-name-input" type="text" ng-model="lightSwitch.name">
            </label>
        </div>
        <h2>Server Settings</h2>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Light Switch Server Protocol</span>
            <input class="edit-name-input" type="text" ng-model="lightSwitchServer.protocol">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Light Switch Server Address</span>
            <input class="edit-name-input" type="text" ng-model="lightSwitchServer.address">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Light Switch Server Port</span>
            <input class="edit-name-input" type="text" ng-model="lightSwitchServer.port">
        </label>
        <button class="button button-full button-dark" ng-click="updateLightSwitches()">Save</button>
	</ion-content>
</ion-view>