<ion-view view-title="Light Switch">
    <ion-nav-buttons side="right">
        <a href="#/edit" class="button button-clear icon ion-gear-a"></a>
    </ion-nav-buttons>
	<ion-content>
        <div ng-show="loadFromServerFailed">
            <div class="card">
                <div class="item item-text-wrap">
                    There was a problem connecting to <b>{{lightSwitchServer.url()}}</b>
                    - make sure your settings are correct and that the server is online.
                </div>
            </div>
            <button class="button button-full button-dark" ng-click="init()">Retry</button>
        </div>
        
        <div class="row" ng-click="lightSwitchClicked(lightSwitch)" ng-repeat="lightSwitch in lightSwitchList">
            <div class="col">
                <div class="row">
                    <img class="button-img" ng-src="{{lightSwitch.active && 'img/light-on-96.png' || 'img/light-off-96.png'}}">
                </div>
                <div class="row">
                    <h1 class="button-text">{{lightSwitch.name}}</h1>
                </div>
            </div>
        </div>
	</ion-content>
</ion-view>